html, body {
  height: 100%;
 
 
}

header {

  width: 100%;
}

h1.text-center {
  text-transform: uppercase;
}

.font-white{
  color: white;
}

h1, h2, h3 {
  letter-spacing: 4px;
  font-family: 'Open Sans', sans-serif;
  /* font-weight: 600 !important; */
}

.text-right {

}

.col {
  margin-top: 40px;
}

/* .bg { position: fixed; top: 0; left: 0; }
.bgwidth { width: 100%; }
.bgheight { height: 100%; } */
body{
  /* overflow-y: hidden; */
  background-image: url('../img/engagement_photo_1.jpg');
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
  height: 100vh;
}

.navbar-brand {
  font-family: 'Open Sans', sans-serif;

}

.clara_gets_marked {
  letter-spacing: 4px;
  font-size: 2em;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  font-weight: 600;
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.more-info {
  display: none;
}

.canvas {

width: 900px;
  height: 200px;
  display: block;
  position: relative;
  background: transparent;
  margin: 40px auto;
}

.demo {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 4px;
}

.demo i {
}

.demo span {
  text-transform: uppercase;
  
}

